{
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ],
        "stage-2"
    ],
    "plugins": [
        "transform-runtime",
        "syntax-trailing-function-commas"
    ],
    "env": {
        "test": {
            "presets": [
                "env",
                "stage-2"
            ]
        }
    }
}
