language: node_js
node_js:
  - node
notifications:
  email: false
before_install:
  - npm i -g npm@6.0.1
install:
  - npm ci
before_script:
  - npm run build:dev
script:
  - npm run lint
  - npm run test:codecov
cache:
  directories:
    - "$HOME/.npm"
